body {
  counter-reset: section;
}
h2::before {
  counter-increment: section;
  content: "Estrofa " counter(section) ": ";
}
h2 {
  counter-reset: sections;
}
p::before {
  counter-increment: sections;
  content: "Verso " counter(sections) ": ";
}
h3 {
  color: grey;
}
p {
  color: blue;
}
span {
  color: blue;
  background-color: yellow;
  font-weight: 1000;
}
